@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: "Heebo";
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 27px 60px 140px 0;
}

.menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 0 33px;
}

.content {
  color: #21243D;
}

@media (max-width: 856px) {
  .top, .posts, .works, .footer {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .top, .posts, .works, .footer {
    max-width: none;
  }
}
.top {
  padding: 0 0 100px 0;
  max-width: 856px;
  margin: 0 auto;
}
.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.top_column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.top__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: -14px 0 0 0;
}
.top__blue {
  -webkit-box-shadow: -3px 8px 1px 1px rgb(237, 247, 250);
          box-shadow: -3px 8px 1px 1px rgb(237, 247, 250);
  border-radius: 50%;
}
.top__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  padding: 0 0 41px 0;
}
.top__text {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
}
.top__button {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  padding: 8px 20px;
  background: #FF6464;
  border-radius: 2px;
}

.wrapper__posts {
  background: #EDF7FA;
}

.posts {
  max-width: 856px;
  margin: 0 auto;
  color: #21243D;
}
.posts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.posts__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00A8CC;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.posts__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.posts__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.posts__column1 {
  background-color: #fff;
  max-width: 418px;
  padding-bottom: 30px;
  margin-bottom: 32px;
}
.posts__column2 {
  background-color: #fff;
  max-width: 418px;
  margin-bottom: 32px;
  padding-bottom: 30px;
}

.title {
  font-weight: 400px;
  font-size: 22px;
  line-height: 60px;
}

.column1__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 0 0 20px;
  padding: 0 0 35px 0;
}
.column1__info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 20px;
  padding: 0 0 20px 0;
}
.column1__text {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info1__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.info1__container {
  -ms-flex-preferred-size: 52px;
      flex-basis: 52px;
  text-align: center;
}
.info1__vektor {
  width: 0px;
  height: 21px;
  border: 1px solid #000000;
  margin: 0 26px 0 26px;
}
.info1__pattern {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.column2__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin: 20px 46px 0 20px;
  padding: 0 0 35px 0;
}
.column2__info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 20px;
  padding: 0 0 20px 0;
}
.column2__text {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info2__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.info2__container {
  -ms-flex-preferred-size: 52px;
      flex-basis: 52px;
  text-align: center;
}
.info2__vektor {
  width: 0px;
  height: 21px;
  border: 1px solid #000000;
  margin: 0 26px 0 26px;
}
.info2__design {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.works {
  max-width: 856px;
  margin: 0px auto;
}
.works__title {
  margin-top: 15px;
  margin-bottom: 22px;
}
.works__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columns__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.columns__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.columns__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img__img {
  margin-bottom: 46px;
  margin-right: 18px;
}

.info__title {
  margin-top: -7px;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}
.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.info__date {
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  margin: 0 36px 0 11px;
  color: #ffffff;
  z-index: 1;
}
.info__vektor {
  margin-top: -44px;
}
.info__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
.info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

.vektor {
  border: 1px solid #E0E0E0;
  height: 0px;
  width: 850px;
  margin: -15px 0 31px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 130px 0 30px 35px;
}
.footer__icon1 {
  margin-right: 55px;
}
.footer__icon2 {
  margin-right: 35px;
}
.footer__icon3 {
  margin-right: 35px;
}
.footer__icon4 {
  margin-right: 35px;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
  margin-bottom: 52px;
}

.icon2__inst1 {
  z-index: 2;
  margin-right: -23px;
  margin-top: 5px;
}
.icon2__inst2 {
  z-index: 1;
  margin-right: -26px;
  margin-top: 7px;
}